@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.header{
  font-family: 'Poppins',serif;
  font-weight:bold;
   
  
}
.form-rounded{
  border-radius: 1rem;
  border-color: tomato;
  width: 80%;
  
}
.form-rounded2{
  border-radius: 1rem;
  background-color: tomato;
  color: aliceblue;
  width: 80%;

}
.bg{
  
  background-image: url(D:\MINI_PROJECT\calo\src\components\Login\log.png);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

}
.img-fluid{
  height: 600px;
}
.sform{
  background-color:white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  position:absolute; 
  left:950px; 
  top:30px;

}
form{
  background-color:rgb(255, 255, 255);
  padding: 25px;
  
  width: 350px;
  border-radius: 10px;
  position:absolute; 
  left:950px; 
  top:90px;

}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: rgb(232, 45, 12);
  position: fixed;
  height: 100%;
  overflow: hidden;
  align-items: center;
  text-align: center;
  z-index: 1;
}
h2{
  color: aliceblue;
  padding-top: 80px;
  padding-right:160px ;
}
.name{
  color: aliceblue;
  padding-bottom: 50px ;
}
h5{
  color: rgb(0, 0, 0);
  padding-top: -60px;
}
h6{
  color: rgb(255, 255, 255);
  padding: 5px;
}
.roundrec{
  padding-top: 60px;
  margin-bottom: 30px;
  width: 100%;
  height: 28%;
  align-items: center;
  text-align: center;
  background-color: rgb(195, 27, 27);
  stroke: azure;
  stroke-width: 5px;
}
.cald{
  padding-top: 15px;
  margin-left: 28px;
  width: 80%;
  height: 30%;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}
.CircularProgressbar{
  padding: 20px;
  width: 140px;
  height: 140px;
}
.calo-text{
  color: red;
  font-weight: bold;

}
.navbar{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 8%;
  align-items: flex-end;
  text-align: end;
  position:fixed;
  z-index: 2;
}
.logout{
  margin-left: 1750%;
  
}


/* rosmi*/

h1{
  color: black;
  font-weight: bold;
  padding-top: 80px;
  padding-right:20px ;
}
.todaysfoodtext{
  margin-left: 25%;
  position: absolute;
  margin-top: 8px;


}

h3{
  color: white;
  font-weight: bold;
  font-size: medium;
  padding-left: 2%;
  padding-bottom: 10px;
  
}

ul{
  text-align: left;

}

ul li{
  display: flex;
  list-style: none;
  padding: 10px;
  padding-right: 30px ;
  width:fit-content;
  background-color: whitesmoke;
  border-radius: 15px;
  text-align: center;
  font-size: medium;
  margin-bottom: 10px;
  
}

ul li i{
  position: relative;
  left: 15px;
  bottom: -3px;
  cursor: pointer;
  
}

/*ul{
  position: fixed;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-left: 50px;
  top: 40%;
  width: 6%;
  height: 5%;
  background-color: whitesmoke;
  border-radius: 15px;
  text-align: center;
  font-size: medium;
}*/

.todaysfoodsearch input{
  position: absolute;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 10px;
  margin-left: -570px;
  
  color: rgb(0, 0, 0);
  text-align: justify;
  margin-top: 35px;
  width: 730px;
  height: 10%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border-color: red;
  border-width: 3px;
  box-shadow: 1px 1px 9px rgb(162, 160, 160);
}

.quantity input{
  position: absolute;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 10px;
  margin-left: 170px;
  color: rgb(0, 0, 0);
  margin-top: 35px;
  width: 30%;
  height: 10%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 1px 1px 9px rgb(162, 160, 160);
  border-color: red;
  border-width: 3px;
}

.add {
  
  position: absolute;
  padding-top: 8px;
  padding-bottom: 30px;
  padding-left: 10px;
  margin-left: 290px;
  margin-top: 35px;

  width: 30%;
  height: 10%;
  background-color: rgb(240, 43, 43);
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgb(162, 160, 160);
  color: aliceblue;
}

.foodconsumedbox{
  position: absolute;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 400px;
  margin-top: 210px;
  width: 64%;
  height: 35%;
  background-color: rgb(217, 87, 65);
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgb(162, 160, 160);
  text-align: center;
}

h7{
  color: aliceblue;
  padding-top: 100px;
  padding-right:40px ;
  padding-bottom: 60px;
  font-weight: bolder;
  text-align: center;
  font-size:larger;
}

h8{
  color: rgb(23, 23, 23);
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

/*.food1{
  position: fixed;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-left: 50px;
  top: 40%;
  width: 6%;
  height: 5%;
  background-color: whitesmoke;
  border-radius: 15px;
  text-align: center;
  font-size: medium;
}

.food2{
  position: fixed;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-left: 150px;
  top: 40%;
  width: 6%;
  height: 5%;
  background-color: whitesmoke;
  border-radius: 15px;
  text-align: center;
  font-size: medium;
}

.food3{
  position: fixed;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-left: 250px;
  top: 40%;
  width: 6%;
  height: 5%;
  background-color: whitesmoke;
  border-radius: 15px;
  text-align: center;
  font-size: medium;
}

.food4{
  position: fixed;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-left: 350px;
  top: 40%;
  width: 6%;
  height: 5%;
  background-color: whitesmoke;
  border-radius: 15px;
  text-align: center;
}*/

h4{
  color: whitesmoke;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.carbohydrates{
  position: absolute;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 5px;
  margin-top: 230px;
  width: 25%;
  height: 75%;
  background-color: red;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgb(162, 160, 160);
}

.protiens{
  position: absolute;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 255px;
  margin-top: 230px;
  width: 25%;
  height: 75%;
  background-color: red;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgb(162, 160, 160);
}

/*.nutrients{
  position: fixed;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 900px;
  top: 70%;
  width: 15%;
  height: 25%;
  background-color: red;
  border-radius: 20px;
}*/

.fats{
  position: absolute;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 505px;
  margin-top: 230px;
  
  width: 25%;
  height: 75%;
  background-color: red;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgb(162, 160, 160);
}

.container1{
  position: absolute;
  /*padding-top: 10px;
  padding-bottom: 15px;*/
  margin-left: 1150px;
  margin-top: 360px;
  width: 18%;
  height: 70%;
  
  border-radius: 20px;
 
}

.exercise{
  position: absolute;
  /*padding-left: 70px;
  padding-top: 40px;*/
  margin-top: 470px;
  margin-left: 150px;
  width: 70%;
}



.exnm{
  color:red;
  position: absolute;
  left: 25px;
  top:220px;

  
}
.extm{
  color:white;
  position: absolute;
  left:65px;
  top: 250px;  
 

  background-color:red;
  padding: 5px;
  width: 65px;
  border-radius: 12px;
  margin-bottom: 10px;

}

.exnm2{
  color:red;
  position: absolute;
  left: 270px;
  top:220px;
  
}
.extm2{
  color:rgb(255, 255, 255);
  position: absolute;
  left: 325px;
  top: 250px;  

  background-color:red;
  padding: 5px;
  width: 65px;
  border-radius: 12px;
}

.exnm3{
  color:red;
  position: absolute;
  left: 535px;
  top:220px;
}
.extm3{
  color:rgb(255, 255, 255);
  position: absolute;
  left: 585px;
  top: 250px;  

  background-color:red;
  padding: 5px;
  width: 65px;
  border-radius: 12px;
}

#object1{
  width:120px;
  height: 100px;
 
  position: absolute;
  left:10px;
  top:90px;

}
#object2{
  width:120px;
  height: 100px;
 
  position: absolute;
  left:264px;
  top:90px;

}
#object3{
  width:120px;
  height: 100px;
 
  position: absolute;
  left: 525px;
  top:90px;

}



.footer{
  color:rgb(0, 0, 0);
  background-color:rgb(163, 30, 30);
  width: 100%;
  height: 200px;
  position : absolute;
  top : 1300px;
 
}

.tname{
  position: absolute;
  left:720px;
  top:60px;
  margin-top: -20px;
}

.SearchIcon{
  position: absolute;
  margin-left: 80px;
  margin-top: 43px;
}



.CameraIcon{
  position: absolute;
  margin-left: 110px;
  margin-top: 43px;
}